@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Pushster', cursive;
    color: #242038;
    font-size: 4rem;
    text-decoration: underline;
}
p {
    color: #51A3A3;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 20px;
}
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .button {
        margin: 5px 5px;
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F6FFF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Lato', sans-serif;
    padding: 20px 20px;
    .input {
        margin-top: 20px;
        width: 90%;
        margin-bottom: 20px;
    }
}
.resolutions {
    width: 100%;
}

.item-wrapper {
    width: 100%;
    margin: 20px 0px;
    padding: 10px 10px;
    transition: 0.2s all ease;
    background-color: #FF7F11;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .item {
        color: #fff;
        font-size: 1.2rem;
        font-style: normal;
        margin-top: 0px;
    }
    &:hover {
        background-color: #e2710e;
    }
}