@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.calender-wrapper {
  height: 100vh;
  width: 100%;
  font-family: Lato;
}

nav {
  height: 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  background-color: #FF7F11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h2 {
  font-size: 1.5rem;
  color: #fff;
}

nav .back-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  margin-top: 3px;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

nav .back-wrapper:hover {
  background-color: rgba(56, 56, 56, 0.151);
}

nav .back-wrapper .back-icon {
  font-size: 2rem;
}

.month-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.month-wrapper h6 {
  font-size: 1.2rem;
  color: #303030;
  margin: 0px 50px;
}

.month-wrapper .month-arrow-wrapper {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border-radius: 50%;
}

.month-wrapper .month-arrow-wrapper .month-arrow {
  font-size: 2rem;
  color: #303030;
}

.month-wrapper .month-arrow-wrapper:hover {
  background-color: rgba(56, 56, 56, 0.151);
}

.date-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 50px;
  width: 95%;
  margin: 0 auto;
}

.datebox-wrapper {
  width: 120px;
  height: 120px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 10px;
  background-color: #51A3A3;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.datebox-wrapper:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  background-color: #3e7e7e;
}

.modal-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 10px auto;
}
/*# sourceMappingURL=calender.css.map */